{{template "head"}}
<div class=" mb-5"><img class="img-fluid" src="https://kicksdigitalmarketing.com/wp-content/uploads/2019/09/iStock-1142986365.jpg" alt="404"></div>
<div class="d-flex justify-content-around ml-5">
    <div class="my-3">
    {{.}}
    </div>
</div>
<div class="d-flex justify-content-around ml-5">
    <div><a class="btn btn-primary btn-block" href="/">Take me home</a></div>
</div>
{{template "foot"}}
