{{template "head"}}
<h1><img src="https://kicksdigitalmarketing.com/wp-content/uploads/2019/09/iStock-1142986365.jpg" alt="404"></h1>
<div>
    Something went wrong. Perhaps your items havent been checked yet?
</div>
<a href="/">Take me home</a>
<button class="btn btn-success btn-block">Home</button>
{{template "foot"}}
