{{template "head"}} 
<h1>Lego checker</h1>
<div>
    <a class="card-link btn btn-info mt-5" href="/register">get started</a>
</div>
<div></div>
<div>
    <a class="card-link btn btn-success mt-5" href="/login">login</a>
</div>
{{template "foot"}}
