{{template "head"}} 
<h1>Success!</h1>
<div>
    Your list of items was added!
</div>
<div>
    Your username is {{.}}
</div>
<div>
    Please keep in mind items are checked once per hour so it may be some time before your items are checked.
</div>
<div>you can check on your items here</div>
<div>
   <a class="card-link btn btn-success mt-5" href="/login">login</a>
</div>
{{template "foot"}}
